##### 1. Import dataset file Airdata.csv diatas, tampilkan sample data!

In [1]:

import pandas as pd

airdata = pd.read_csv('dataset/Airdata.csv')
airdata

,DateTime,Temperature,Humidity,Wind_Speed,Wind_Direction,NO2_Location_A,NO2_Location_B,NO2_Location_C
0,1/1/2020 0:00,2.180529,87,1.484318,75.963760,39.23,52.88,62.37
1,1/1/2020 1:00,1.490529,89,2.741678,113.198590,38.30,44.95,52.53
2,1/1/2020 2:00,1.690529,85,3.563818,135.000000,NaN,48.40,54.80
3,1/1/2020 3:00,1.430529,84,2.811690,129.805570,37.28,47.18,50.80
4,1/1/2020 4:00,0.840529,86,1.800000,126.869896,29.97,41.48,54.43
...,...,...,...,...,...,...,...,...
8779,12/31/2020 19:00,4.920528,72,4.553680,251.565060,53.44,32.65,66.82
8780,12/31/2020 20:00,4.990529,74,3.259939,186.340200,49.80,34.03,67.31
8781,12/31/2020 21:00,4.360529,84,10.587917,252.181120,43.32,25.55,59.33
8782,12/31/2020 22:00,3.820528,88,8.435069,219.805570,39.88,19.90,43.70
8783,12/31/2020 23:00,3.170529,89,6.792466,212.005390,39.04,30.33,46.87

##### 2. Sebutkan nama kolom dan tipe data dari setiap kolom yang terdapat dalam dataset!

In [2]:
airdata.columns

Index(['DateTime', 'Temperature', 'Humidity', 'Wind_Speed', 'Wind_Direction',
       'NO2_Location_A', 'NO2_Location_B', 'NO2_Location_C'],
      dtype='object')

In [3]:
airdata.dtypes

DateTime           object
Temperature       float64
Humidity            int64
Wind_Speed        float64
Wind_Direction    float64
NO2_Location_A    float64
NO2_Location_B    float64
NO2_Location_C    float64
dtype: object

##### 3. Berapa jumlah baris data yang terdapat dalam dataset!

In [4]:
len(airdata)

8784

##### 4. Sebutkan nilai mean dari setiap kolom dalam dataset!

In [5]:
print(airdata.select_dtypes(include='number').mean())

Temperature        13.110913
Humidity           66.679417
Wind_Speed         11.279210
Wind_Direction    197.595605
NO2_Location_A     22.047992
NO2_Location_B     29.000569
NO2_Location_C     45.347931
dtype: float64

##### 5. Sebutkkan nilai terkecil (min) dari setiap kolom dalam dataset!

In [6]:
airdata.min()

DateTime          1/1/2020 0:00
Temperature           -2.789471
Humidity                     20
Wind_Speed                  0.0
Wind_Direction         1.218872
NO2_Location_A            -0.46
NO2_Location_B             0.43
NO2_Location_C             0.15
dtype: object

##### 6. Sebutkan nilai tertinggi (max) dari setiap kolom dalam dataset!

In [7]:
airdata.max()

DateTime          9/9/2020 9:00
Temperature            33.87053
Humidity                     98
Wind_Speed             65.44677
Wind_Direction            360.0
NO2_Location_A            116.6
NO2_Location_B           151.85
NO2_Location_C           168.28
dtype: object

##### 7. Berapa nilai â€˜Wind_Speedâ€™ pada index 5000?

In [8]:
airdata.loc[5000, ['Wind_Speed']]

Wind_Speed    8.373386
Name: 5000, dtype: object

##### 8. Berapa jumlah missing value setiap kolom dalam dataset!

In [9]:
missing_values = airdata.isnull().sum()
missing_values

DateTime            0
Temperature         0
Humidity            0
Wind_Speed          0
Wind_Direction      0
NO2_Location_A    120
NO2_Location_B    580
NO2_Location_C    132
dtype: int64

##### 9. Berapa persen jumlah missing value yang ada jika dibandingkan dengan jumlah seluruh dataset?

In [10]:
total_element = airdata.size
missing_percentage = (missing_values / total_element) * 100
missing_percentage

DateTime          0.000000
Temperature       0.000000
Humidity          0.000000
Wind_Speed        0.000000
Wind_Direction    0.000000
NO2_Location_A    0.170765
NO2_Location_B    0.825364
NO2_Location_C    0.187842
dtype: float64

##### 10. Isi missing_value dengan nilai mean dari setiap kolom! Tampilkan contohnya!

In [11]:
airdata['NO2_Location_A'] = airdata['NO2_Location_A'].fillna(airdata['NO2_Location_A'].mean())
airdata['NO2_Location_B'] = airdata['NO2_Location_B'].fillna(airdata['NO2_Location_B'].mean())
airdata['NO2_Location_C'] = airdata['NO2_Location_C'].fillna(airdata['NO2_Location_C'].mean())

In [12]:
airdata.isnull().sum()

DateTime          0
Temperature       0
Humidity          0
Wind_Speed        0
Wind_Direction    0
NO2_Location_A    0
NO2_Location_B    0
NO2_Location_C    0
dtype: int64

In [13]:
airdata

,DateTime,Temperature,Humidity,Wind_Speed,Wind_Direction,NO2_Location_A,NO2_Location_B,NO2_Location_C
0,1/1/2020 0:00,2.180529,87,1.484318,75.963760,39.230000,52.88,62.37
1,1/1/2020 1:00,1.490529,89,2.741678,113.198590,38.300000,44.95,52.53
2,1/1/2020 2:00,1.690529,85,3.563818,135.000000,22.047992,48.40,54.80
3,1/1/2020 3:00,1.430529,84,2.811690,129.805570,37.280000,47.18,50.80
4,1/1/2020 4:00,0.840529,86,1.800000,126.869896,29.970000,41.48,54.43
...,...,...,...,...,...,...,...,...
8779,12/31/2020 19:00,4.920528,72,4.553680,251.565060,53.440000,32.65,66.82
8780,12/31/2020 20:00,4.990529,74,3.259939,186.340200,49.800000,34.03,67.31
8781,12/31/2020 21:00,4.360529,84,10.587917,252.181120,43.320000,25.55,59.33
8782,12/31/2020 22:00,3.820528,88,8.435069,219.805570,39.880000,19.90,43.70
8783,12/31/2020 23:00,3.170529,89,6.792466,212.005390,39.040000,30.33,46.87

##### 11. Lakukan normalisasi pada dataset yang sudah tidak terdapat missing value! Tampilkan hasilnya!

In [15]:
from sklearn.preprocessing import MinMaxScaler

date_time_col = airdata['DateTime']
df_numeric = airdata.drop(columns=['DateTime'])

# Inisialisasi MinMaxScaler
scaler = MinMaxScaler()

# Melakukan normalisasi pada kolom numerik
df_normalized = pd.DataFrame(scaler.fit_transform(df_numeric), columns=df_numeric.columns)

# Menambahkan kembali kolom DateTime
df_normalized.insert(0, 'DateTime', date_time_col)
df_normalized

,DateTime,Temperature,Humidity,Wind_Speed,Wind_Direction,NO2_Location_A,NO2_Location_B,NO2_Location_C
0,1/1/2020 0:00,0.135570,0.858974,0.022680,0.208330,0.339057,0.346388,0.370071
1,1/1/2020 1:00,0.116748,0.884615,0.041892,0.312112,0.331112,0.294017,0.311545
2,1/1/2020 2:00,0.122204,0.833333,0.054454,0.372877,0.192277,0.316801,0.325046
3,1/1/2020 3:00,0.115112,0.820513,0.042961,0.358399,0.322399,0.308744,0.301255
4,1/1/2020 4:00,0.099018,0.846154,0.027503,0.350216,0.259952,0.271100,0.322845
...,...,...,...,...,...,...,...,...
8779,12/31/2020 19:00,0.210311,0.666667,0.069578,0.697769,0.460448,0.212786,0.396538
8780,12/31/2020 20:00,0.212220,0.692308,0.049811,0.515973,0.429352,0.221899,0.399453
8781,12/31/2020 21:00,0.195035,0.820513,0.161779,0.699486,0.373996,0.165896,0.351990
8782,12/31/2020 22:00,0.180306,0.871795,0.128884,0.609248,0.344610,0.128583,0.259026
8783,12/31/2020 23:00,0.162575,0.884615,0.103786,0.587507,0.337434,0.197464,0.277880